:root {
	--active:#ddd;
	--def: 0.3;
	--gaps: 20px;
}
/*.main div{
	border: dashed 2px red;
}*/
@font-face {
	font-family: DS-Digital;
	src: url('fonts/DS-DIGIB.TTF');
}
body {
	cursor: default;
	background: #000000;
	overflow: hidden;
	position: relative;
	height: 100vh;
}
.main {
	height: 100vh;
	width: 100%;
	color: var(--active);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gaps);
  	font-family: DS-Digital;
  	text-transform: uppercase;
  	position: relative;
  	transition: all 0.3s;
  	top: 0px;
}
.main > div {
	padding-bottom: 20px;
}


.active {
	opacity: 1 !important;
}

.week {
	padding-left: 3px;
	font-size: 43px;
	.days {
		opacity: var(--def);
		margin: 5px;
	}
}
.time {
	display: flex;
	height: 320px;
}
.clock {
	width: 1156px;
	font-size: 503px;
	margin-top: -95px;
}

.deets {
	width: 260px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gaps);
    justify-content: space-between;
    text-align: left;
	.seconds {
		width: 100%;
		font-size: 210px;
		margin-top: -28px;
		margin-bottom: -35px;
	}
	.ampm {
		font-size: 110px;
		display: flex;
	    justify-content: space-between;
	    width: 255px;
	    margin-bottom: -7px;
	    span {
			opacity: var(--def);
	    }
	}
	.dates {
		font-size: 50px;
	}
	.battery {
		display: flex;
	    color: var(--active);
	    align-items: center;
	    justify-content: center;
	    position: fixed;
	    bottom: 20px;
	    left: 0px;
	    width: 100%;
	    font-size: 24px;
	    height: 50px;
	    fill: var(--active);
	    gap: 10px;
	}
	.battery svg {
		width: 30px;
		height: 30px;
		margin-top: 1px;
	}
}

.chargingIcon {    
	stroke-width: 1.5px;
    stroke: black;
    opacity: 0;
	animation-name: batterycharging;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
#Folder-2, .chargingIcon, .bci {
	transition: opacity 0.3s;
}

.bci {
	opacity: 0;
}



.filter {
	position: fixed;
	top: 0px;
	left: 0px;
	pointer-events: none;
	height: 0vh;
	width: 100vw;
	transition: all 1s;
	opacity: 0;
}
.filter1 {
	background-image: linear-gradient(to bottom, white 50%, transparent 100%);
	mix-blend-mode: difference;
}
.filter.f-active {
	height: 200vh;
	opacity: 1;
}

.options {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	gap: 15px;
	align-items: center;
	overflow: hidden;
	transition: all 0.3s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	pointer-events: none;
}

.options * {
	pointer-events: initial;	
}
.oc {
	cursor: pointer;
	min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
	transition: all 0.3s;
	border-radius: 50px;
}

.darkm {
	color: white;
}
.lightm {
	color: black;
}
.oc.oc-out {
	rotate: 180deg;
	min-width: 25px;
}
.btn-mode {
	cursor: pointer;
	height: 50px;
	width: 50px;
    min-width: 50px;
	background: none;
	border-radius: 50px;
	border-width: 2px;
	border-style: solid;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
    	transition: all 0.3s;
    	opacity: 0;
    	font-size: 0px;
    }
    i.activemode {
    	opacity: 1 !important;
		font-size: 20px !important;
    	line-height: 30px ;
    }
}

.btn-mode.dark {
	border-color: white;
	color: white;
}
.btn-mode.light {
	border-color: black;
	color: black;
}

.btn-mode.dark:hover {
	background: white;
	color: black;
}
.btn-mode.light:hover {
	background: black;
	color: white;
}

.pLock {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: flex;
	align-items: center;
    justify-content: center;
	min-width: 50px;
    height: 50px;
    z-index: 11;
    transition: all 0.3s;

    i {
    	position: absolute;
    	transition: all 0.3s;
    	opacity: 0;
    	line-height: 30px;
    }
    i.activemode {
    	opacity: 1 !important;
    }
}

.brightness {
	background: black;
	position: fixed;
	top: 0px;
	left: 0px;
	pointer-events: none;
	height: 100vh;
	width: 100vw;
	transition: all 1s;
	z-index: 9;
	opacity: 0;
}
.screenlock {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	z-index: 10;
}
@media only screen and (max-width: 1023px) {
	.main {
		top: 10%;
		height: auto !important;
	}
	.main > .deets{
		padding-bottom: 0px !important;
	}
	.battery {
		position: relative !important;
		gap: 5px !important;
		font-size: 20px !important;
	}
	.battery svg {
		width: 26px !important;
		height: 26px !important;
	}
}

@media only screen and (max-width: 1159px) {
	.main {
		flex-direction: column;
		gap: 0px !important;
		padding-top: 0px !important;
	}
	.main > .deets{
		padding-bottom: 100px;
	}
	.week {
		padding: 0px !important;
		font-size: 25px !important;
	}
	.days {
		display: none;
	}
	.days.active {
		display: block;
	}
	.time {
		flex-direction: column;
		text-align: center;
		height: auto !important;
		padding-bottom: 0px !important;
		padding-top: 16px !important;
	}
	.clock {
		width: 100% !important;
		margin-top: -20px !important;
		font-size: 90px !important;
	}
	.deets {
		width: 100% !important;
		align-items: center;
		justify-content: center	!important;
	}
	.seconds {
		display: none;
	}
	.ampm {
		margin-top: 5px !important;
		font-size: 20px !important;
		justify-content: center	!important;
		gap: var(--gaps);
		width: 100% !important;
	}
	.dates {
		text-align: center;
		width: 100% !important;
		font-size: 30px !important;
	}
}

@keyframes batterycharging {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}