@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
	--activeDm:#ddd;
	--activeLm:#010101;
	--inactiveDm: #5a5a5a;
	--inactiveLm: #7a7a7a;
	--def: 0.3;
	--gaps: 20px;
	--sliderbgDm: linear-gradient(to right, var(--activeDm) 80%, black 80%);
	--sliderbgLm: linear-gradient(to right, var(--activeLm) 80%, white 80%);
}
/*.main div{
	border: dashed 2px red;
}*/
@font-face {
	font-family: DS-Digital;
	src: url('fonts/DS-DIGIB.TTF');
}
html {
	height: 100%;
}
body {
	cursor: default;
	background-color: #000000;
	overflow: hidden;
	position: relative;
	height: 100%;
	transition: background-color 1s, background-image 1s, background-size 1s, background-repeat 1s;
	margin: 0px;
}
.main {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gaps);
  font-family: DS-Digital;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
  flex-wrap: wrap;
  align-content: center;
  z-index: 2;
}
.main > div {
	padding-bottom: 20px;
}


.darkm .active {
	color: var(--activeDm) !important;
}
.lightm .active {
	color: var(--activeLm) !important;
}

.week {
	padding-left: 3px;
	font-size: 43px;
}
.days {
	margin: 5px;
	transition: all 1s;
}
.darkm .days {
	color: var(--inactiveDm);
}
.lightm .days {
	color: var(--inactiveLm);
}

.time {
	display: flex;
	height: 320px;
}
.clock {
	width: 1156px;
	font-size: 503px;
	margin-top: -95px;
}

.deets {
	width: 260px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gaps);
  justify-content: space-between;
	.seconds {
		width: 100%;
		font-size: 210px;
		margin-top: -28px;
		margin-bottom: -35px;
  	text-align: left;
	}
	.ampm {
		font-size: 110px;
		display: flex;
	  justify-content: space-between;
	  width: 255px;
	  margin-bottom: -7px;
		text-align: center;
	}
		.dates {
		font-size: 49px;
		text-align: center;
		width: 256px;
	}
	.battery {
		display: flex;
	  align-items: center;
	  justify-content: center;
	  position: fixed;
	  bottom: 20px;
		left: 0px;
		width: 100%;
		font-size: 24px;
		height: 50px;
		gap: 10px;
	}
	.battery svg {
		width: 30px;
		height: 30px;
		margin-top: 1px;
	}
}

.ampm span {
	transition: all 1s;
}

.darkm .ampm span {
	color: var(--inactiveDm);
}

.lightm .ampm span {
	color: var(--inactiveLm);
}

.nameSection {
	text-align: center;
	width: 100%;
}

.nameContainer {
  display: inline-grid;
  font-size: 50px;
	padding: 0 40px;
	border-bottom: 3px solid transparent;
	transition: all 0.3s;
	height: 1.2em;

  &::after {
    content: attr(data-value);
    visibility: hidden;
    white-space: pre-wrap;
    font-size: inherit;
    margin-top: -0.9em;
    position: relative;
  }
}

.nameContainer:has(input:focus) {
	border-color: inherit;
}

.nameSection input {
	background-color: transparent;
  font-family: inherit;
  color: inherit;
  text-align: center;
  width: auto;
  cursor: default;
  font-size: inherit;
  border:none;
  padding: 0;
}
.nameSection input::placeholder {
	color: inherit;
}

.nameSection input:focus, .nameSection input:focus-visible {
	outline: none !important;
}
.chargingIcon { 
	scale: 0.8;
	transform-origin: 50% 50%;
  opacity: 0;
	animation-duration: 1s;
	animation-iteration-count: infinite;
  transform: translate(-0.7px, 0px);
}
#batteryIcon {    
  opacity: 1;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	filter: inherit;
	transition: all 1s;
}
#batteryIconCharging {
	transition: all 1s;
}
#Folder-2, .chargingIcon, .bci {
	transition: opacity 0.3s;
}

.bci {
	opacity: 0;
}

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	pointer-events: none;
	background-image: linear-gradient(to bottom, white 45%, white 50%, black 55%, black 100%);
	background-repeat: no-repeat;
  background-size: 100% 250%;
  background-position: bottom center;
	height: 100vh;
	width: 100vw;
	transition: background 0.8s;
	opacity: 0.8;
	z-index: 1;
}

.overlay.o-active {
  background-position: top center;
}

.options {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	gap: 15px;
	align-items: center;
	overflow: hidden;
	transition: all 0.3s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: 7;
}

.options *, .media-options * {
	pointer-events: initial;	
}

.mediaControlsSpace {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.media-options {
	position: absolute;
	top:20px;
	right: 20px;
	overflow: hidden;
	transition: width 0.3s, height 0.3s, border-radius 0.3s, margin-left 0.3s, border-color 0.3s, fill 0.3s , color 0.3s, opacity 0.3s;
	z-index: 12;
	height: 50px;
	width: 50px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  border-width: 2px;
	border-style: solid;
	border-color: inherit;
	border-radius: 50px;
	backdrop-filter: blur(10px);
	opacity: 0;
}

.media-options:has(.mc-out) {
	height: 125px !important;
	width: 350px !important;
	border-radius: 0px;
}

.mc-out {
	width: 100% !important;
	height: 35px !important;
	min-height: 35px !important;
	padding: 0 10px;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	border-bottom-width: 2px;
	border-radius: 0px !important;
	justify-content: start !important;
	cursor: default !important;
}

.mediabtnwrapper {
	display: flex;
	gap: 15px;
	align-items: center;
	justify-content: center;
	padding: 20px;
	opacity: 0;
	transition: opacity 0.3s;
}

.media-options:has(.mc-out) .mediabtnwrapper {
	opacity: 1 !important;
}

#mc {
	min-height: 50px;
	width: 50px;
	box-sizing: border-box;
	transition: height 0.3s, min-height 0.3s;
}
#mc i {
	font-size: initial !important;
	opacity: 1;
	transition: all 0.3s;
	cursor: pointer;
}

.oc {
	cursor: pointer;
	min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
	transition: all 0.3s;
	border-radius: 50px;
}

.darkm, .darkm ~ * {
	color: var(--activeDm);
	fill: var(--activeDm);

	&::selection {
		color: var(--activeLm);
		background-color: var(--activeDm);
	}
}
.lightm, .lightm ~ * {
	color: var(--activeLm);
	fill: var(--activeLm);

	&::selection {
		color: var(--activeDm);
		background-color: var(--activeLm);
	}
}
.oc.oc-out {
	rotate: 180deg;
	min-width: 25px;
	justify-content: center;
}
.btn-mode {
	cursor: pointer;
	height: 50px;
	width: 50px;
  min-width: 50px;
	background: none;
	border-radius: 50px;
	border-width: 2px;
	border-style: solid;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  backdrop-filter: blur(10px);

    i {
    	transition: all 0.3s;
    	opacity: 0;
		font-size: 20px !important;
    	line-height: 30px ;    
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
    }
    i.activemode {
    	opacity: 1 !important;
    }
}
.btn-mode:focus, .btn-mode:focus-visible, .btn-mode:active {
	outline: none;
}

.btn-mode.dark {
	border-color:  var(--activeDm);
	color:  var(--activeDm);
}
.btn-mode.light {
	border-color: var(--activeLm);
	color: var(--activeLm);
}

.btn-mode.dark:hover {
	background: var(--activeDm);
	color: black;
}
.btn-mode.light:hover {
	background: var(--activeLm);
	color: white;
}

.pLock {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: flex;
	align-items: center;
  justify-content: center;
	min-width: 50px;
  height: 50px;
  z-index: 6;
  transition: all 0.3s;

    i {
    	position: absolute;
    	transition: all 0.3s;
    	opacity: 0;
    	line-height: 30px;
    }
    i.activemode {
    	opacity: 1 !important;
    }
}

.brightness {
	background: black;
	position: fixed;
	top: 0px;
	left: 0px;
	pointer-events: none;
	height: 100vh;
	width: 100vw;
	transition: opacity 1s;
	z-index: 10;
	opacity: 0;
}
.screenlock {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	z-index: 11;
}

.comma {
	display: none;
}

.bgSettings {
	width: 80%;
	height: auto;
	max-width: 600px;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	z-index: 13;
	padding-bottom: 40px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
	backdrop-filter: blur(20px);
	overflow: hidden;
	transition: background 0.3s, opacity 0.3s;
}

#settingsWrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 20px 90px 20px;
	box-sizing: border-box;
}
#settingsWrapper:has(+ .ui-draggable-dragging) {
	display: block;
}
#titleBar {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: inherit;
	line-height: 28px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.title {
	padding: 0 8px;
	width: 100%;
}

.bgSettingsContainer {
	padding:0 40px;
}

.bgSettings *:not(span, p, i, div) {
	font: inherit;
	text-transform: uppercase;
  letter-spacing: 5px;
	color: inherit;
	background-color: transparent;
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: inherit;
	width: 100%;
	padding: 12px 0;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.bgSettings input[type=range] {
	width: calc(100% - 80px);
	-webkit-appearance: none;
  -webkit-transition: .2s;
	border: 0;
	height: 2px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 25px;
}

.bgSettings input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.bgSettings p {
	margin: 0;
}

.bgSettings :focus, .bgSettings :focus-visible {
	outline: none;
}
.backgroundImage {
	position: relative;
}
.backgroundImage input[type=text] {
	padding-right: 210px;
}
.backgroundImage .clearBg {
	position: absolute;
	bottom: 2.165em;
	right: -3px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	text-align: right;
	font-size: 14px;
}
.overlayOpacity {
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.opacityVal {
	margin-bottom: 5px;
}

.closeBtn {
	color: inherit;
	cursor: pointer;
	width: 30px;
	height: 100%;
	min-height: 30px;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	padding: 0 1px;
}
.closeBtn i {
	width: 11px;
	height: 11px;
	line-height: 11px;
  padding: 1px 1px 0 0;
}

.bgSettings #fileImage {
	color: transparent;
	position: absolute;
	right: 30px;
	bottom: 31px;
	width: 160px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: 0;
}

.bgSettings #fileImage::file-selector-button {
	all: unset;
	background-color: transparent;
	color: inherit;
	border-width: 2px;
	border-style: solid;
	padding: 2px 10px 1px 14px;
	font-size: 10px;
	transition: all 0.3s;
}

.subTitle {
	font-size: x-small;
}

.coolors {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.coolors > div {
	width: calc(50%  - 10px);
	position: relative;
}

.coolors input {
	border-width: 0px;
	margin: 0;
	padding: 0;
	opacity: 0;
	height: 0px;
	width: 0px;
	position: absolute;
	bottom: 290px;
}

.coolors label {
	display: block;
	height: 32px;
	width: 32px;
	margin: 0;
	border-radius: 32px;
	border-style: solid;
	border-width: 2px;
	transition: all 0.3s;
}

.coolors .subTitle {
	margin: 5px 0 15px 0;
	display: block;
	line-height: 1em;
}

.colorSelector {
	display: flex;
	align-items: center;
	gap: 1em;
}
.coolors .colorSelector i {
	transition: scale 0.3s;
	cursor: pointer;
}

.coolors .colorSelector i:hover {
	scale: 1.2;
}

.darkm ~ #settingsWrapper .bgSettings #fileImage::file-selector-button {
	color: var(--activeDm);
	border-color: var(--activeDm);
}

.darkm ~ #settingsWrapper .bgSettings #fileImage::file-selector-button:hover {
	color: black;
	background-color: var(--activeDm);
}

.lightm ~ #settingsWrapper .bgSettings #fileImage::file-selector-button {
	color: var(--activeLm);
	border-color: var(--activeLm);
}

.lightm ~ #settingsWrapper .bgSettings #fileImage::file-selector-button:hover {
	color: white;
	background-color: black;
}

.darkm ~ #settingsWrapper .bgSettings .closeBtn:hover {
	background-color: var(--activeDm);
	border-color: var(--activeDm);
	color: black;
}

.lightm ~ #settingsWrapper .bgSettings .closeBtn:hover {
	background-color: var(--activeLm);
	border-color: var(--activeLm);
	color: white;
}

.darkm ~ #settingsWrapper .bgSettings {
	background-color: rgba(0,0,0,0.4);	
	border-color: var(--activeDm);
	color: var(--activeDm) !important;
}

.lightm ~ #settingsWrapper .bgSettings {
	background-color: rgba(255,255,255,0.4);	
	border-color: var(--activeLm);
	color: var(--activeLm);
}

.darkm ~ #settingsWrapper .bgSettings input[type=range] {
	background: var(--activeDm);
}

.lightm ~ #settingsWrapper .bgSettings input[type=range] {
	background: var(--activeLm);
}

.darkm ~ #settingsWrapper .bgSettings input[type=range]::-webkit-slider-thumb {
  background-image: var(--sliderbgDm);
  border-color: var(--activeDm);
}

.lightm ~ #settingsWrapper .bgSettings input[type=range]::-webkit-slider-thumb {
  background-image: var(--sliderbgLm);
  border-color: var(--activeLm);
}

.darkm ~ #settingsWrapper .bgSettings option {
	background-color: black;
}

.lightm ~ #settingsWrapper .bgSettings option {
	background-color: white;
}

.darkm ~ #settingsWrapper .bgSettings select:focus option:checked {
	background-color: var(--activeDm);
	color: black;	
}

.lightm ~ #settingsWrapper .bgSettings select:focus option:checked {
	background-color: var(--activeLm);
	color: white;	
}

.darkm ~ #settingsWrapper .bgSettings .coolors label {
	border-color: var(--activeDm);
}
.lightm ~ #settingsWrapper .bgSettings .coolors label {
	border-color: var(--activeLm);
}

.darkm ~ #settingsWrapper .bgSettings .coolors .pColor label {
	background-color: var(--activeDm);
}
.lightm ~ #settingsWrapper .bgSettings .coolors .pColor label {
	background-color: var(--activeLm);
}

.darkm ~ #settingsWrapper .bgSettings .coolors .sColor label {
	background-color: var(--inactiveDm);
}
.lightm ~ #settingsWrapper .bgSettings .coolors .sColor label {
	background-color: var(--inactiveLm);
}

.videoBg {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	z-index: 0;
	pointer-events: none;
}
.videoBg video, .videoBg iframe {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}
.videoBg video {
	min-width: 100%; 
	min-height: 100%;	
}
.videoBg iframe {
    aspect-ratio: 16 / 9;
}

.vjs-poster {
	pointer-events: none;
	display: none !important;
}

.vjs-loading-spinner {
    font-family: 'DS-Digital';
    width: 163px !important;
    height: 163px !important;
    text-align: center !important;
    font-size: 20px;
}

.vjs-control-text {
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
    place-content: center;
    border-radius: 120px;
}

@media only screen and (max-width: 1599px) {
	.main {
		flex-direction: row;
		gap: 0px !important;
		padding-top: 0px !important;
		align-content: center;
		flex-wrap: wrap;
	}
	.week, .deets {
		padding-bottom: 100px !important;
	}
	.week {
		order: 2;
	}
	.days.active {
		display: block !important;
	}
	.time {
		flex-direction: column;
		text-align: center;
		height: auto !important;
		padding-bottom: 0px !important;
		padding-top: 10px !important;
		width: 100%;
		margin-bottom: -20px;
		order: 1;
	}
	.clock {
		width: 100% !important;
		margin-top: -20px !important;
		font-size: 300px !important;
	}
	.deets {
		width: auto !important;
		align-items: center;
		justify-content: center	!important;
		order: 3;
	}
	.dates {
		width: auto !important;
	}
	.week, .dates, .nameContainer {
		font-size: 40px !important;
	}
	.comma {
		display: inline !important;
	}
	#year, .seconds, .ampm, .days {
		display: none !important;
	}
	.nameSection {
		padding-bottom: 0px !important;
		margin-bottom: -20px;
		z-index: 3;
	}
}

@media only screen and (max-width: 1159px) {
	.clock {
		font-size: 200px !important;
	}
	.time {
		margin-bottom: 0px;
	}
	.nameSection {
		margin-bottom: -10px;
	}
	.videoBg iframe {
	    width: auto !important;
	}
}

@media only screen and (max-width: 1023px) {
	.main {
		top: 10%;
		height: auto !important;
	}
	.clock {
		font-size: 120px !important;
	}
	.week, .dates, .nameContainer {
		font-size: 30px !important;
	}
	.week, .deets {
		padding-bottom: 70px !important;
	}
	.battery {
		position: absolute !important;
		gap: 5px !important;
		font-size: 20px !important;
	}
	.battery svg {
		width: 26px !important;
		height: 26px !important;
	}
	.nameSection {
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 600px) {
	.clock {
		font-size: 90px !important;
	}
	.bgSettings {
		max-height: 450px;
		height: 100%;
		width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    font-size: 14px;
	}
	.bgSettingsContainer {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
  	transition: all 0.3s;
  	padding: 0 20px;
	}
	.bgSettings #bgImage {
		padding-right: 30px;
	}
	.bgSettings #fileImage {
		position: relative;
		right: unset;
		bottom: unset;
		margin-top: 10px;
	}
	#titleBar {
		margin-bottom: 30px;
	}
	#titleBar .title {
		font-size: 12px;
	}
	.backgroundImage span:first-child {
		display: block;
	}
	.backgroundImage input[type=text] {
		padding-right: 20px;
	}
	.backgroundImage .clearBg {
		bottom: 1.835em !important;
	}
	#settingsWrapper {
		width: 100%;
		height: 100%;
		padding: 40px 20px 90px 20px;
	}
	.coolors {
		display: block !important;
	}
	.coolors .pColor {
		margin-bottom: 20px;
	}
	.coolors > div {
		width: 100% !important;
	}
	.media-options {
		top: 40px;
		left: calc(100% - 70px);
	}
	.media-options:not(:active) {
		transition: top 0.3s, left 0.3s, right 0.3s, height 0.3s, width 0.3s, border-radius 0.3s;
	}
	.media-options:has(.mc-out) {
		width: 280px !important;
		height: 190px !important;
		top: calc(100% - 285px) !important;
		left: calc(50% - 140px) !important;
		margin-left: 0 !important;
	}
	.mediabtnwrapper {
		flex-wrap: wrap;
		align-self: center;
		width: 80%;
	}
	#rewind {
		order: 1;
	}
	#playPause {
		order: 2;
	}
	#forward {
		order: 3;
	}
	#stop {
		order: 4;
	}
	#mute {
		order: 5;
	}
	.closeBtn {
		padding: 0 2px 0 2px;
	}
	.closeBtn i {
		padding: 0.5px 0 0.5px 0;
	}
}
@media only screen and (max-width: 375px) {
	#titleBar .title {
		font-size: 10px;
	}
}

@keyframes batterycharging {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes batterycharging2 {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}