:root {
	--active:#ddd;
	--inactive: #434343;
	--def: 0.3;
	--gaps: 20px;
}
/*.main div{
	border: dashed 2px red;
}*/
@font-face {
	font-family: DS-Digital;
	src: url('fonts/DS-DIGIB.TTF');
}
body {
	cursor: default;
	background-color: #000000;
	overflow: hidden;
	position: relative;
	height: 100vh;
	transition: all 1s;
	margin: 0px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.main {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gaps);
  font-family: DS-Digital;
  text-transform: uppercase;
  position: relative;
  transition: all 1s;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
}
.main > div {
	padding-bottom: 20px;
}


.active {
	opacity: 1 !important;
}

.week {
	padding-left: 3px;
	font-size: 43px;
	.days {
		opacity: var(--def);
		margin: 5px;
	}
}
.time {
	display: flex;
	height: 320px;
}
.clock {
	width: 1156px;
	font-size: 503px;
	margin-top: -95px;
}

.deets {
	width: 260px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gaps);
  justify-content: space-between;
	.seconds {
		width: 100%;
		font-size: 210px;
		margin-top: -28px;
		margin-bottom: -35px;
  	text-align: left;
	}
	.ampm {
		font-size: 110px;
		display: flex;
	  justify-content: space-between;
	  width: 255px;
	  margin-bottom: -7px;
		text-align: center;
	    span {
				opacity: var(--def);
	    }
	}
	.dates {
		font-size: 49px;
		text-align: center;
		width: 256px;
	}
	.battery {
		display: flex;
	  align-items: center;
	  justify-content: center;
	  position: fixed;
	  bottom: 20px;
		left: 0px;
		width: 100%;
		font-size: 24px;
		height: 50px;
		gap: 10px;
	}
	.battery svg {
		width: 30px;
		height: 30px;
		margin-top: 1px;
	}
}

.nameSection {
	text-align: center;
	width: 100%;
}

.nameContainer {
  display: inline-grid;
  font-size: 50px;
	padding: 0 40px;
	border-bottom: 3px solid transparent;
	transition: all 0.3s;
	height: 1.2em;

  &::after {
    content: attr(data-value);
    visibility: hidden;
    white-space: pre-wrap;
    font-size: inherit;
    margin-top: -0.9em;
    position: relative;
  }
}

.nameContainer:has(input:focus) {
	border-color: inherit;
}

.nameSection input {
	background-color: transparent;
  font-family: inherit;
  color: inherit;
  text-align: center;
  width: auto;
  cursor: default;
  font-size: inherit;
  border:none;
  padding: 0;
}
.nameSection input::placeholder {
	color: inherit;
}

.nameSection input:focus, .nameSection input:focus-visible {
	outline: none !important;
}
.chargingIcon {    
	stroke-width: 1.5px;
    opacity: 0;
	animation-name: batterycharging;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
#Folder-2, .chargingIcon, .bci {
	transition: opacity 0.3s;
}

.bci {
	opacity: 0;
}

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	pointer-events: none;
	background-image: linear-gradient(to bottom, white 45%, white 50%, black 55%, black 100%);
	background-repeat: no-repeat;
  background-size: 100% 250%;
  background-position: bottom center;
	height: 100vh;
	width: 100vw;
	transition: all 0.8s;
	opacity: 1;
	z-index: 0;
}
.overlay.o-active {
  background-position: top center;
}

.options {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	gap: 15px;
	align-items: center;
	overflow: hidden;
	transition: all 0.3s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	pointer-events: none;
	z-index: 2;
}

.options * {
	pointer-events: initial;	
}
.oc {
	cursor: pointer;
	min-width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
	transition: all 0.3s;
	border-radius: 50px;
}

.darkm {
	color: var(--active);
	fill: var(--active);
	border-color: var(--acive);

	&::selection {
		color: #010101;
		background-color: var(--active);
	}
	.chargingIcon {
		stroke: black;
	}
}
.lightm {
	color: #010101;
	fill: #010101;

	&::selection {
		color: var(--active);
		background-color: #010101;
	}
	.chargingIcon {
		stroke: white;
	}
}
.oc.oc-out {
	rotate: 180deg;
	min-width: 25px;
}
.btn-mode {
	cursor: pointer;
	height: 50px;
	width: 50px;
    min-width: 50px;
	background: none;
	border-radius: 50px;
	border-width: 2px;
	border-style: solid;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
    	transition: all 0.3s;
    	opacity: 0;
    	font-size: 0px;
    }
    i.activemode {
    	opacity: 1 !important;
		font-size: 20px !important;
    	line-height: 30px ;
    }
}

.btn-mode.dark {
	border-color: white;
	color: white;
}
.btn-mode.light {
	border-color: black;
	color: black;
}

.btn-mode.dark:hover {
	background: white;
	color: black;
}
.btn-mode.light:hover {
	background: black;
	color: white;
}

.pLock {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: flex;
	align-items: center;
    justify-content: center;
	min-width: 50px;
    height: 50px;
    z-index: 11;
    transition: all 0.3s;

    i {
    	position: absolute;
    	transition: all 0.3s;
    	opacity: 0;
    	line-height: 30px;
    }
    i.activemode {
    	opacity: 1 !important;
    }
}

.brightness {
	background: black;
	position: fixed;
	top: 0px;
	left: 0px;
	pointer-events: none;
	height: 100vh;
	width: 100vw;
	transition: all 1s;
	z-index: 9;
	opacity: 0;
}
.screenlock {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	z-index: 10;
}

.comma {
	display: none;
}

@media only screen and (max-width: 1599px) {
	.main {
		flex-direction: row;
		gap: 0px !important;
		padding-top: 0px !important;
		align-content: center;
		flex-wrap: wrap;
	}
	.week, .deets {
		padding-bottom: 100px !important;
	}
	.week {
		order: 2;
	}
	.days.active {
		display: block !important;
	}
	.time {
		flex-direction: column;
		text-align: center;
		height: auto !important;
		padding-bottom: 0px !important;
		padding-top: 10px !important;
		width: 100%;
		margin-bottom: -20px;
		order: 1;
	}
	.clock {
		width: 100% !important;
		margin-top: -20px !important;
		font-size: 300px !important;
	}
	.deets {
		width: auto !important;
		align-items: center;
		justify-content: center	!important;
		order: 3;
	}
	.dates {
		width: auto !important;
	}
	.week, .dates, .nameContainer {
		font-size: 40px !important;
	}
	.comma {
		display: inline !important;
	}
	#year, .seconds, .ampm, .days {
		display: none !important;
	}
	.nameSection {
		padding-bottom: 0px !important;
		margin-bottom: -20px;
		z-index: 2;
	}
}

@media only screen and (max-width: 1159px) {
	.clock {
		font-size: 200px !important;
	}
	.time {
		margin-bottom: 0px;
	}
	.nameSection {
		margin-bottom: -10px;
	}
}

@media only screen and (max-width: 1023px) {
	.main {
		top: 10%;
		height: auto !important;
	}
	.clock {
		font-size: 120px !important;
	}
	.week, .dates, .nameContainer {
		font-size: 30px !important;
	}
	.week, .deets {
		padding-bottom: 70px !important;
	}
	.battery {
		position: absolute !important;
		gap: 5px !important;
		font-size: 20px !important;
	}
	.battery svg {
		width: 26px !important;
		height: 26px !important;
	}
	.nameSection {
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 600px) {
	.clock {
		font-size: 90px !important;
	}

}

@keyframes batterycharging {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}